/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

/* Container for the form */
#teamForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* Heading styling */
h1 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

/* Label styling */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

/* Input field styling */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Input field focus styling */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #4a90e2;
    outline: none;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

/* Submit button styling */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: gray;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Cancel button styling */
#cancel {
    width: 100%;
    padding: 10px;
    background-color: #ff4444; /* Red color for Cancel button */
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
button[type="submit"]:hover,
#cancel:hover {
    opacity: 0.9;
}

/* Button active effect */
button[type="submit"]:active,
#cencle:active {
    opacity: 0.8;
}
/* Admin Menu and New Plan Button Styling */
#admin_menu {
    display: none; /* Hidden by default */
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  #new_plan_button {
    display: none; /* Hidden by default */
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
  }
  
  .big-button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background-color: #4a4a8e;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .big-button:hover {
    background-color: #6565b9;
  }
  
  .big-button:active {
    background-color: #333366;
  }