body {
  text-align: center;
  background-color: #f4f4f9;
}

a {
  text-decoration: none;
  color: black;
}

.w {
  padding-left: 5px;
  padding-right: 5px;
  border-left: solid 1px;
}

.w:first-child {
  border-left: none;
}

.w:hover {
  background-color: lightgray;
  padding-left: 1.5%;
  padding-right: 1.5%;
  font-weight: bold;
}

hr {
  width: 70%;
}

/* Menu styling */
#menu {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#menu a {
  padding-left: 1%;
  padding-right: 1%;
}

#menu a:not(:first-child) {
  border-left: solid 1px;
}

#menu a:hover {
  padding-left: 2%;
  padding-right: 2%;
  cursor: pointer;
  background-color: lightgrey;
  font-weight: bold;
}

/* Hide admin links by default */
.admin-link {
  display: none;
}

/* Horizontal rule styling */
hr {
  width: 70%;
}

/* Table styling */
table {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border-left: 1px solid black;
  text-align: left;
  padding: 8px;
}

/* Alternate row colors for better readability */
tr:nth-child(odd) {
  background-color: #dddddd;
}

#niew-post {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
  background-color: lightgray;
}

#niew-post h3 {
  padding-top: 20px;
}

.d_en_v:hover {
  cursor: pointer;
  font-weight: bold;
}

#bewerkform {
  padding-bottom: 15px;
}

#logout {
  margin-top: 20px;
}

#user_team {
  margin-top: 10px;
  margin-bottom: 10px;
}

#edit-station_div {
  display: none;
}

/* New Plan Button Styling */
#new_plan_button {
  display: none; /* Hidden by default */
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
}

.big-button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background-color: #4a4a8e;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.big-button:hover {
  background-color: #6565b9;
}

.big-button:active {
  background-color: #333366;
}